<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About - Proof of Skills - Andr&eacute; Labuschagn&eacute;</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <p>Find me on <a href="http://stackoverflow.com/users/537566/tungstenx">stackoverflow</a></p>

        <h1 id="coinclient">Interview Assignment</h1>

        <p>Proof of skills</p>

        <h1 id="introduction">Introduction</h1>

        <p>This is a simple java microservice to demonstrate my skills as a developer</p>

        <p>The specific technologies involved are:</p>

        <ul>
            <li>Git (ver 2.7.4.)</li>

            <li>Apache Maven (ver 3.9.9. - not the sucky one shipped with Netbeans &#245;.&#212;)</li>

            <li>Passion with a sprinkling of unicorn horn</li>
        </ul>

        <h1 id="development">Development</h1>

        <p>I use JetBrain's Intellij IDEA 2017.3.4 on Linux Mint 18.2.</p>

        <h2 id="assumptions">Assumptions</h2>

        <ul>
            <li></li>

            <li>Shallow tests just for demonstration</li>
        </ul>

        <h2 id="timeallocation">Time allocation</h2>

        <p>The following is my time allocated to this project:</p>

        <ul>
            <li>8 hours: Coding the solution</li>

            <li>30 minutes: Packaging and prettying up everything</li>
        </ul>

        <h1 id="usage">Usage</h1>

        <p><code>java -jar interview-assignment-1.0-SNAPSHOT.jar</code></p>
	<p>User name: pravin.gordhan</p>
	<p>Password: pravin.gordhan</p>
	<p>NSA level security - not!</p>

        <h2 id="thanks">Thanks</h2>

        <p>It was an honour to have built this demonstration for you to evaluate</p>

        <h3 id="poweredby">Powered by</h3>

        <p>This README.md was made using VIM</p>

        <p><a href="https://www.ParanoidAndroid.co.za"><img src="http://gravatar.com/avatar/88ebc726d33c8ddba2534d1d6f93e638?s=144" alt="Andr&#233; Labuschagn&#233;" /></a> |
            ---|
            <a href="https://www.ParanoidAndroid.co.za">Andr&#233; Labuschagn&#233;</a> |</p>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
